<ng-container>
    <div style="background-image: url('assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'login_background-dark.png' : 'login_background-dark.png'}}');" class="_background surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <!--<img ngSrc="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-institute-white' : 'logo-institute-dark'}}.png" alt="Sakai logo" class="mb-3 w-12rem flex-shrink-0">-->
            <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <ng-container *ngTemplateOutlet="!okChangePassword ? changePassword : messageChangePassword"></ng-container>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #changePassword>
    <div class="w-full surface-card py-5 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
            <img ngSrc="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'unipamplona_64.png' : 'logo-institute-white.svg'}}" alt="Logo" height="100" width="90">
            <div class="text-900 text-3xl font-medium mb-3">Cambiar contraseña</div>
            <span class="text-600 font-medium">Cambia tu contraseña</span>
        </div>
        <form class="p-0" [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
            <div>
                <label for="password" class="block text-900 text-lg font-medium mb-2">Nueva contraseña</label>
                <p-password id="password" [feedback]="true" placeholder="Contraseña" [toggleMask]="true" styleClass="mb-2 w-full p-inputtext-sm" inputStyleClass="w-full p-3 md:w-30rem" formControlName="password" weakLabel="Débil" mediumLabel="Moderada" strongLabel="Fuerte" promptLabel="Ingresa una contraseña"></p-password>
                @if (passwordNoValido && controls('password')) {
                    <div>
                        <small class="p-error">Ingresa un usuario</small>
                    </div>
                }
                <label for="confirmPassword" class="block text-900 text-lg font-medium mb-2 mt-3">Confirmar contraseña</label>
                <p-password id="confirmPassword" [feedback]="true" placeholder="Contraseña" [toggleMask]="true" styleClass="mb-2 w-full p-inputtext-sm" inputStyleClass="w-full p-3 md:w-30rem" formControlName="confirmPassword" weakLabel="Débil" mediumLabel="Moderada" strongLabel="Fuerte" promptLabel="Ingresa una contraseña"></p-password>
                @if (confirmPasswordNoValido && controls('confirmPassword')) {
                    <div>
                        <small class="p-error">Ingresa un usuario</small>
                    </div>
                }
                <div class="flex align-items-center justify-content-between mt-3 mb-5 gap-5">
                    <div class="flex align-items-center"></div>
                    <a (click)="login()" class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">¿Iniciar sesión?</a>
                </div>
                <button pButton pRipple type="submit" label="Enviar" class="w-full p-3 text-xl" [icon]="loader ? 'pi pi-spin pi-spinner m-0' : ''"></button>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #messageChangePassword>
    <div class="w-full surface-card py-8 px-5 sm:px-8 text-center" style="border-radius:53px">
        <div class="text-center mb-5">
            <img ngSrc="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="50" width="50" class="mb-3 w-6rem flex-shrink-0">
            <div class="text-900 text-3xl font-medium mb-3">Cambiar contraseña</div>
            <span class="text-600 font-medium white-space-normal">La contraseña se ha cambiado correctamente <br>puedes ir a iniciar sesión.</span>
        </div>
        <div class="w-20rem md:w-30rem mb-2 text-center">
            <div appSvgThemeColor [appSvgColor]="'var(--primary-400)'" [svgPath]="'assets/content/images/illustrations/checklist.svg'" [svgElementSelector]="'#themeColor'" [svgWidth]="'300px'"></div>
        </div>
        <button pButton pRipple icon="pi pi-arrow-left" label="Iniciar sesión" class="p-button-text" [routerLink]="['/']"></button>
    </div>
</ng-template>
