<div class="flex align-items-center pb-3">
    <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-{{functionality.color}}-100 border-circle mr-3 flex-shrink-0"
         style="display: flex;">
        <i  class="pi {{functionality.icon}} text-xl text-{{functionality.color}}-500"></i>
    </div>
    <div class="flex flex-column ">
        <h5 class="m-0 text-700">{{functionality.label}}</h5>
        <span class="text-500">{{functionality.description}}</span>
    </div>
</div>
